page-login {
    .login-support-text {
        text-align: center;
        padding-left: 1%;
        padding-right: 1%;
    }

    .login-info-container {
        margin-top: 2%;
    }

    .login-info-text {
        padding-left: 3.5%;
        padding-right: 3.5%;
    }
}
